
html 
{
    background-image: url('other/background.png');
    background-size: 100% 100%; /* 100% width and 100% height */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body, h1, p, nav {
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-left: 20%;
    padding: 20px;
}

h1 {
    color: #868798;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 5px 5px 4px rgb(0, 0, 0);
}

p {
    color: #8b8989;
    margin-bottom: 10px;
}

nav {
    background-color: #00000070;
}

nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #00000070;
    font-weight: bold;
    transition: 0.25s;
    text-shadow: 2px 2px 4px rgb(0, 34, 255);
}

nav {
    text-align: center;
    margin-right: 5%;
}

nav a + a {
    margin-right: 0%;
}

.image-container img
{
    width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center; 
}

img {
    width: 500px;
    height: 400px;
    margin-left: 33%;
}

.image-container1 img 
{
    width: 300px;
    height: 300px;
    margin-left: 40%;
    text-align: center; 
    border: #fff;
}

.left-navbar nav {
    width: 150px;
    background-color: #99999900;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 5px;
    text-shadow: 5px 5px 4px rgb(0, 0, 0);  
}
.left-navbar a {
    margin-bottom: 10%;
    text-decoration: underline;
    text-shadow: 5px 5px 4px rgb(0, 0, 0);
}
.left-navbar a:hover {
    font-size: 1.25em; 
    font-weight: bold;
    color: #000000bb; 
}

.content {
    margin-left: 170px;
}

.image-container1 {
    text-align: center;
}

.image-container1 img 
{
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
}
.atable td{
    padding: 0%;
    margin: 0%;
}
.atable figcaption {
    text-align: center; 
    margin: 5%;
    margin-bottom: 20%;
    max-width: 100%; 
}

.custom-table {
    width: 50%;
}

.custom-cell img{
    padding: 0%;
    margin: 0%;
    width: 80%; 
    height: 100%;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #333;
}

.bottom-nav img {
    margin: 0px;
    width: 40px;
    height: 40px;
  }

  .bn {
    width: 100%;
  }

  .bn a {
    width: 20%;
    text-align: center;
  }

  h4 {
    font-size: 30px;
  }

.ht {
    background-image: url('other/background2.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3 {
    color: rgb(189, 188, 188);
}
